@using ControleHoras.APRESENTACAO.Models
@{
    ViewBag.Title = "Profissionais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>
<ul>
    <li>@Html.ActionLink("Cadastro", "Search", "Profissional")</li>
    <li>@Html.ActionLink("Dispositivos Móveis", "Index", "ProfissionalDispositivo")</li>
</ul>



