@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Controle de Horas</h1>
    <p class="lead">Sistema para controle e lançamento de horas.</p>
    <p><a href="@Url.Action("Index","Login")" class="btn btn-primary btn-lg">Acesso ao sistema &raquo;</a></p>
</div>