.clockContainer {
     width: 100%; 
     margin: 0 auto; 
     overflow: hidden;     
     background:#e7e7e7;
	 font:bold 12px Arial, Helvetica, sans-serif;
	 margin:0;
	 padding:0;
	 color:#bbbbbb; 
}

.clock {width:100%; margin:0 auto; padding:5px; border:1px solid #aea9a9; color:#f3ecec; }

/*#Date { font-family:'Verdana', Arial, Helvetica, sans-serif; font-size:20px; text-align:center; text-shadow:0 0 5px #00c6ff; }*/

.clockElements { width:250px; margin:0 auto; padding:0px; list-style:none; text-align:center; }
.clockElements li { display:inline; font-size:20px; text-align:center; font-family:'Verdana', Arial, Helvetica, sans-serif; text-shadow:0 0 5px #030303; }

#point { position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; padding-left:10px; padding-right:10px; }

@-webkit-keyframes mymove
{
0% {opacity:1.0; text-shadow:0 0 20px #030303;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #030303; }
}


@-moz-keyframes mymove
{
0% {opacity:1.0; text-shadow:0 0 20px #030303;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #030303; }
}